<div class="w-5/6 flex flex-col m-auto gap-4">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Rental buildings</h1>
  </div>

  <div id="buildings" class="min-w-full grid grid-cols-2 gap-y-6 gap-x-40">
    <%= render @buildings %>
  </div>
</div>
